body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #222;
    padding: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 200px;
  width: 200px;
  border: 3px solid black;
}

.one {
  background: steelblue;
  color: white;
}

.two {
  background: orange;
  color: white;
}


@media (min-width:960px) {
  .one {
    background: lightsteelblue;
  }

  .two {
    background: coral;
  }
}


.search-inputs-mobile {

}

.pokelist-mobile {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.pokeitem-mobile {

}

.search-inputs-browser {
    
}

.pokelist-browser {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.pokeitem-browser {

}

