body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #222;
    padding: 1rem;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 54px;
    text-align: center;
  }

.search-list li {
    display: inline;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

.pokeItem {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
  }
  
  #pokeList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px;
      padding-inline-start: 0;
  }

  .pokeItemName {
    font-size: 32px;
    margin-bottom: 0;
  }
  
  .pokeItemImage {
    height: 180px;
  }